.customers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: center;
 
  &__unit {
    margin: 0 0 30px 0;
    width: 210px;
    height: 92px;
  }

  @media screen and (min-width: $mobile) {
    width: 450px;
    margin: 0;
    justify-content: center;

    &__unit {
      width: 210px;
      height: 92px;
      margin-left: 0;
      margin-bottom: 30px;
    }
    
    &__unit:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 738px;

  &__unit {
    width: 226px;
    margin-right: 30px;
  }

  &__unit:nth-child(3n) {
    margin-right: 0;
  }
  }

  @media screen and (min-width: $desktop) {
  min-width: 1170px;

    &__unit {
      width: 170px;
      margin-right: 0;
      margin-left: 30px;
    }
  
    &__unit:first-child {
      margin: 0;;
    }

    &__unit:last-child {
      margin: 0;;
    }

  }
}

.customers__logo {
  cursor: pointer;

  &--accent {
    fill: #afb1b8;

    transition-property: fill;
    @extend %cubic-bezier;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  padding: 0;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  background-color: $white-color;
  transition-property: border-color;
  @extend %cubic-bezier; 

  &:hover .customers__logo--accent,
  &:focus .customers__logo--accent {
    fill: $accent-color;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 92px;
    padding: 0;
  }
}  