.decision {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #000000;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgr/img_bgr_desk_sm.jpg);

  @include mq(retina) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgr/img_bgr_desk_lg.jpg);
  }  

  @include mq(tablet) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgr/img_bgr_tabl_sm.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bgr/img_bgr_tabl_lg.jpg);
    }  
  }

  @include mq(desktop) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgr/img_bgr_desk_sm.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bgr/img_bgr_desk_lg.jpg);
    }  
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $new-bgr;
  }
}

.button:active {
  background-color: rgba(24, 140, 232, 1);
}

.decision__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  @extend %flexbox;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  transition-property: revert;
  @extend %cubic-bezier;

  @media screen and (min-width: $mobile) {
    height: 609px;
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    height: 581px;
    width: 528px;
  }

  &__form {
    padding: 40px;
  }

  &__cross {
    width: 18px;
    height: 18px;
    fill: #000000;
  
    transition-property: fill;
    @extend %cubic-bezier;
  }
}

.modal__btn {
  position: absolute;
  @extend %flexbox;
  padding: 0;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;

  &:hover .modal__cross,
  &:focus .modal__cross {
    fill: $accent-color;
    outline: none;
  }
}

.form {
  @media screen and (min-width: $mobile) {
    width: 100%;
    margin: 0;
  }
  
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 58px;
    margin-top: 10px;
    font-size: 12px;
  }
}

.form__input {
  min-height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  @extend %cubic-bezier;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    outline: none;
  }
}

.form__icon {
  position: absolute;
  top: 5px;
  left: 12px;
  transform: translateY(150%);
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  fill: $title-text-color;
  transition-property: fill;
  @extend %cubic-bezier;

  .form__field input:hover ~ &,
  .form__field input:focus ~ & {
    fill: rgba(33, 150, 243, 1);
    outline: none;
  }
}

.form__comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  @extend %cubic-bezier;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    outline: none;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
}

.form__agreement {
  @extend %flexbox;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  font-size: 6px;
  line-height: 1;
  letter-spacing: .01em;
  margin-top: 10px;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    height: 24px;
    font-size: 14px;
    line-height: 2;
    margin-top: 20px;
  }
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

.form__pic {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  .form__checkbox:checked + & {
    fill: $accent-color;
    background-image: url(../images/modalcheck.svg);
    background-size: contain;
    width: 16px;
    height: 15px;
    background-origin: border-box;
    border-color: transparent;
  }
}

.form__condition {
  padding-left: 4px;
  color: $accent-color;
  text-decoration-line: underline;
}

.form__button--effects {
  padding: 10px 52px;
  margin-top: 30px;
  min-width: 200px;
  cursor: pointer;
  transition-property: background-color;
  @extend %cubic-bezier;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}  