.exampl {
  display: none;
  
  @media screen and (min-width: $desktop) {
   display: flex;
  }

}

.examples {
  @extend %flexbox;
  min-width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    position: relative;
    z-index: -1;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__deskr {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.examples__card .examples__img {
  position: relative;
  z-index: -1;
}
