.header {
    padding: 0;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  
   &__container {
     @extend %flexbox;
     min-height: 60px;

     @media screen and (min-width: $tablet) {
      height: 80px;
    }
   }
}

.nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 87px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 93px;
  }

  &__item + &__item {

    @media screen and (min-width: $tablet) {
      margin-left: 50px;
    }
  
    @media screen and (min-width: $desktop) {
      margin-left: 50px;
    }
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
  
    transition-property: color;
    @extend %cubic-bezier;
  }

  &__link.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link.current {
    color: $accent-color;
  }
}

.contacts {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__item + &__item {

    @media screen and (min-width: $tablet) {
      display: block;
    }
  
    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: 50px;
    }
  }
}

.contacts__link {
  @extend %flexbox;

  @media screen and (min-width: $tablet) {
    display: block;
    padding-bottom: 10px;
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  @media screen and (min-width: $desktop) {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  }

  &--hover {
    fill: #757575;
  
    transition-property: fill, color;
    @extend %cubic-bezier;
  }

  &--hover:hover,
  &--hover:focus {
    fill: #2196f3;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  display: inline-block;
  margin-right: 10px;
}

.header__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

}

.header__icon {
  display: inline-block;
  width: 24px;
  height: 16px;
}