.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    min-width: 738px;
  }

  @media screen and (min-width: $desktop) {
    width: 1170px;
  }
}